{:paths ["src"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.764"}

        jdf/foundation-common {:local/root "../common"}

        binaryage/oops {:mvn/version "0.7.0"}
        lilactown/helix {:mvn/version "0.0.12"}
        ; {:git/url "https://github.com/Lokeh/helix.git" :sha ""}
        bidi/bidi {:mvn/version "2.1.6"}
        ; brings in transit
        cljs-ajax/cljs-ajax {:mvn/version "0.8.0"}}}