; Testing and development of foundation

; NB need to run clj -M:outdated (which is antq/antq) in each `part`

{:paths ["src"]
 :deps {jdf/foundation-common {:local/root "parts/common"}
        jdf/foundation-server {:local/root "parts/server"}
        jdf/foundation-client {:local/root "parts/client"}}

 :aliases
 {:dev {:extra-paths ["dev" "test" "../talk"] ; allow talk ns reload during dev
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}
                     binaryage/devtools {:mvn/version "1.0.6"}}}}}

; https://clojureverse.org/t/how-to-effectively-use-deps-cli/4787/14
; :deps/root with :git/url, or just :local/root straight in
