{; NB Cursive's Local Clojure REPL needs to point at these aliases too
 ; NB add :client alias when this file is copied into application
 :deps {:aliases [:dev]}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:app {:entries [user]}}
                :compiler-options {:output-feature-set :es6}}}
 :dev-http {8888 "public"}}