{:paths ["src"]
 :deps {datascript/datascript {:mvn/version "1.0.1"}
        ; :local/url "../../../thing" not working
        jdf/comfort {:git/url "https://github.com/jdf-id-au/comfort"
                     :sha "b2956516227b430cce9aea4036c77eb3200fcc07"}
        jdf/temper {:git/url "https://github.com/jdf-id-au/temper.git"
                    :sha "11013a4565a5241c878c96d927940cff2e047238"}}}