{:paths ["src"]
 :deps {datascript/datascript {:mvn/version "1.0.0"}
        jdf/comfort {:git/url "https://github.com/jdf-id-au/comfort"
                     :sha "eac62a61bf6a83c86c816ecdc3ec9a15e0c02b0d"}}}